*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}



.logo-image{
    width: 10vw;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 8vw;
    border-bottom: 1px solid #f2f2f2;
    
    
}

a{
    text-decoration: none;
}

.options{
    display: flex;
    gap: 2vw;
}
 
 a {
    text-decoration: none;
    color: gray;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 88vh;
    gap: 4vh;
    justify-content: center;
}
 
.main img{
    width: 56vw;
}

.main heading{
    font-size: 3px;
}

.main button{
    background-color: blue;
    border: none;
    color: aliceblue;
    padding: 10px 24px;
    border-radius: 4px;
}

.context{
    padding: 4vh 8vw;
}

h2{
    color: #424242;
}

h4{
    color: #424242;
}

p{
    color: #666666;
}

.para1{
    display: flex;
 align-items: flex-start; 
    gap: 2vw;
    padding: 4vh 8vw;
}
 .img2 img{
    width: 35vw;
    height: auto;
    flex: 1;
 }

 span{
    color: cornflowerblue;
 }

.pic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

.parent{
    
    padding: 4vh 8vw;
    margin-top: 60px;
    gap: 60px;
    
}

.main button:hover{
    background-color: #222;
}


.child4{
    width: 100px;
    
}

.rat{
    display: flex;
    
}

.child4{
    display: flex;
}

.parent2{
    display: flex;
}