*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

.para-1{
    padding: 1vh 10vw;
    height: 60px;
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
}

.child1{
    justify-content: space-between;
    color: aliceblue;
    margin-top: 20px;
    
}

.child2{
    justify-content: space-between;
    color: aliceblue;
    margin-right: 2vw;
    margin-top: 20px;
}

.para-2{
    
    padding: 0 8vw;
    height: 355px;
    background-color: darkslategray;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    color: aliceblue;
    padding-right: 120px;
    align-items: flex-start;
}

.child3 button{
    background-color: blue;
     color: #e5e7eb;
     border: none;

}
.child4{
    
    background-color: lightgray;
    height: 100px;
    text-align: center;
    padding: 87px;
    color: #e5e7eb;
    font-weight: 1;
    margin-right: 85px;
   
}

.box{
    text-align: center;
}

.e1{
    border: solid lightskyblue;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    border-radius: 5%;
}

.box-2{
display: flex;
justify-content: space-between;
padding-left: 250px;
padding-right: 250px;
margin-top: 50px;
margin-bottom: 20px;
}

.box{
    margin-top: 24px;
}

.text{
    display: flex;
    padding-left: 250px;
padding-right: 250px;
justify-content: space-between;
align-items: center;
margin-bottom: 30px;
}
.quote{
    background-color: lightgray;
    font-style: italic;
    text-align: center;
   height: 150px;
   padding-top: 40px;
}

.box-3{
    height: 200px;
    margin-top: 70px;
    justify-content: center;
    display: flex;
    text-align: left;

}
.box3{
    background-color: blue;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 300px;
    margin-right: 300px;
    gap:400px;
    border-radius: 5px;


}

.q1{
    background-color: #1f2937;
    height: 80px;
    color: aliceblue;
    align-content: center;
    align-items: center;
    text-align: center;
  }

  .a2 button{
    background-color: blue;
    border: 2px solid white;
    color: #e5e7eb;
  }

  .a1{
    color: #e5e7eb;
  }

  